<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./Components/head') %>
    <title>Question Bank</title>
  </head>
  <body>
    <%- include('./Components/navbar') %>
    <h1>Hello Their</h1>
  </body>
  <%- include('./Components/scripts') %>
</html>
